database/mysql-data
database/mysql-data-*
.vscode
*.code-workspace
.idea
.cursor
.cli
.claude
.codex
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

data/
output
.venv
.envrc
.env
.env.*
!.env.example
*.session.sql
.pycache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
*.zip
*.xlsx
csv
*.csv

logs
frontend/logs
node_modules
frontend/node_modules
dist
frontend/dist
frontend/dist-ssr
frontend/*.local

*.jpg
*.jpeg
*.png
!frontend/public/logo/
!frontend/public/logo/*.png

__pycache__
demo

CLAUDE.md
TODO.md