database/mysql-data
database/mysql-data-*
.vscode
*.code-workspace
.cursor
.cli
.claude
.codex

*debug*
data/
output
.venv
.envrc
.env
.env.dev
.env.*·
!.env.example
*.session.sql
.pycache
*.log
.Ds_Store
*.zip
*.xlsx
csv
*.csv



*.jpg
*.jpeg
*.png

__pycache__
demo
